@import url('https://fonts.googleapis.com/css2?family=Open+Sans&display=swap');

*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body, button, input {
  margin: 0;
  font-family: "Josefin Sans", sans-serif;
}

body {
  max-height: 100vh;
  max-width: 100vw;
  overflow: hidden;
}
